# using the pip command to create a requirements.txt file from the terminal
pip install -r requirements.txt

# To install the flask module <2.0 version by using the pip command
pip install Flask==1.7.2
